<!DOCTYPE html>
<html>
  <head>
    <title>MarkdownCalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue_app' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">
  </head>

  <body>
    <div class="container-fluid" id="app">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "markdown.png", class:"markdown-title" %>
        <% end %>
        <%= link_to 'push', commit_api_days_path, method: :post, remote: true, class:'btn btn-primary mt-2 float-right' %>
      </h1>

      <%= yield %>
    </div>
  </body>
</html>
